package.xml
src/package.xml
*copado__*
*AES_SFConnector__*
*AES_CNTR__*
*BRNSHRK__*
*BRNSHRKREPORT__*
*TH1__*
*dsfs__*
*skuid__*
*spanning__*
src/installedPackages/*
src/translations/*
src/objectTranslations/*
src/sites/*
src/siteDotComSites/*
src/reports/unfiled$public/*
src/dashboards/unfiled$public/*
